@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: var(--font-inter);
  --font-jetbrains: var(--font-jetbrains);
}

body {
  font-family: var(--font-inter), sans-serif;
}

code,
pre {
  font-family: var(--font-jetbrains), monospace;
}
